<tr>
    <td>
        <a href="./category?id={{ categoryTableRow.categoryId }}">
            <strong>
                {{ categoryTableRow.title }}
            </strong>
        </a>
        <br>
        <small>
            {{ categoryTableRow.description }}
        </small>
    </td>
    <td>
        {{ categoryTableRow.topics }}
    </td>
    <td>
        <a href="./topic?id={{ categoryTableRow.topicId }}" class="mb-0">
            <strong>
                {{ categoryTableRow.topicTitle }}
            </strong>
        </a>

        <small> <a href="./user?id={{ categoryTableRow.userId }}">{{ categoryTableRow.topicUser }}</a></small>
        <br>
        <small>{{ categoryTableRow.topicTimestamp }}</small>
    </td>
    {% if admin == true %}
        <td>
            <form method="post" action="./deleteCategory" id="deleteForm">
                <input type="hidden" name="d_catId" id="d_catId" value="{{ categoryTableRow.categoryId }}">
                <input type="hidden" name="d_userId" id="d_userId" value="{{ user.userId }}">
                <button class="btn btn-danger" form="deleteForm" type="submit">X</button>
            </form>
        </td>
    {% endif %}
</tr>